#new-track-wrapper
	input[type='text']
		padding: .5em 1em
		border: 1px solid $light-border
		border-radius: 3px 0 0 3px
		width: 30em
	button[type='submit']
		background: none
		border 1px solid $main-green
		border-left: none
		padding: .5em 1em
		border-radius: 0 3px 3px 0
		&:hover
			cursor: pointer
			background-color: rgba($main-green, .05)

#chain
	margin-top: 3em

.day
	display: inline-block
	position: relative
	width: 50px
	height: 50px
	border: 1px dashed $light-border
	&.tracked
		border: none
		background-color: $main-green
	&:not(:last-child)
		margin-right: 5px
	&:hover
		.description
		.day-number
			display: block

	.day-number
	.description
		display: none
		position: absolute
		width: 100%
		padding: .5em
		background-color: rgba(0,0,0, .8)
		border-radius: 3px
		font-size: .6em
		text-align: center
		color: #fff

	.description
		top: 100%
		margin-top: .5em

	.day-number
		bottom: 100%
		margin-bottom: .5em
