@import url('https://fonts.googleapis.com/css?family=Raleway');

*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-size: $global-font-size
	font-family: 'Raleway', sans-serif
	color: $global-color

h1
h2
	$strong-title


// The app container
#app-wrapper
	margin: 0 auto
	width: $viewport-width

#app-view.blurred
	filter: blur(3px)

// When an element must have all its click actions disabled, apply this class
.unclickable
	pointer-events: none
