<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="dist/styles.css">
</head>
<body>
	<div id="app">
		<h2>Work</h2>
		<div>
			<input type="text" v-model="description">
			<button @click="trackToday()">Add today to chain</button>
		</div>
		<div id="chain">
			<div class="day" v-for="(day, i) in trackedDaysOfTheMonth">
				<div class="description">
					{{ day[i+1] }}
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="dist/bundle.js"></script>
</body>
</html>
