main
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin-top: 2em

#form-wrapper
	position: relative
	width: 30em

#new-track-wrapper
	display: flex
	flex-wrap: wrap
	justify-content: center
	textarea
		flex-grow: 1
		padding: .5em 1em
		border: 1px solid $light-border
		height: 10em
		border-radius: 3px
		width: 100%
		resize: none
	button[type='submit']
		margin-top: 1em
		background-color: darken($main-green, 20%)
		border: none
		color: $pure-white
		padding: .5em 2em
		border-radius: 3px
		&[disabled]
			border: 1px solid $light-border
			background-color: $pure-white
			color: $global-color
		&:hover
			cursor: pointer
			background-color: darken($main-green, 25%)
			&[disabled]
				cursor: not-allowed
				background-color: $pure-white

